.game {
  background: #e5e5e5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-view {
  flex-grow: 1;
  position: relative;
}

.game-bar {
  background: #008037;
  position: relative;
  width: 100%;
  padding: 0.5em;
  color: #fff;
  font-weight: bold;
  font-size: calc(8px + 2vmin);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  box-sizing: border-box;
}

.game-start, .game-finish {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #d00200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  z-index: 5;
}

pre {
  font-size: 2em;
}

.game-start button {
  padding: 15px;
  width: 50%;
  margin-top: 2em;
}

.panda {
  max-height: 15vh;
  margin-bottom: 1em;
}

:root {
  --santa-animation-time: 5s;
  --santa-animation-offset: 150vw;
  /* --santa-animation-offset: 150vw; */
  --santa-height: 20vh;
}

.santa {
  cursor: pointer;
  position: absolute;
  left: 0;
  outline: none;
  animation: linear infinite;
  animation-duration: var(--santa-animation-time);
  animation-name: run;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-image: url('../img/santa1-compressed.gif');
  height: 20vh;
  aspect-ratio: 0.7462;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  /* animation-play-state: paused; */
  transition: height, width, opacity 1s ease-in-out;
  background-origin: content-box;
  padding-left: 15%;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

.santa-right {
  animation-delay: calc(var(--santa-animation-time) / 2 - var(--santa-animation-time));
}

.santa-left {
}

.santa.santa-bottomright {
  animation-name: run2;
}

.santa.santa-bottomleft {
  animation-name: run3;
}

.santa-speed-1 { animation-duration: var(--santa-animation-time); }
.santa-speed-2 { animation-duration: calc(var(--santa-animation-time) * 0.9); }
.santa-speed-3 { animation-duration: calc(var(--santa-animation-time) * 0.8); }
.santa-speed-4 { animation-duration: calc(var(--santa-animation-time) * 0.7); }

.santa-size-1 { height: var(--santa-height); }
.santa-size-2 { height: calc(var(--santa-height) * 0.9); }
.santa-size-3 { height: calc(var(--santa-height) * 0.8); }
.santa-size-4 { height: calc(var(--santa-height) * 0.7); }

.santa.santa-catched {
  opacity: 0;
  animation-delay: 0;
  /* height: 0; */
  /* animation: cubic-bezier(0, 0, 0.2, 1) once;
  animation-name: catched;
  animation-duration: 2s; */
}

@keyframes run {
  from {
    transform: rotateY(180deg) translateX(0);
  }
  50% {
    transform: rotateY(180deg) translateX(var(--santa-animation-offset)); 
  }
  50.01% {
    transform: rotateY(0) translateX(calc(var(--santa-animation-offset) * -1)); 
  }
  to {
    transform: rotateY(0) translateX(0); 
  }
} 
@keyframes run2 {
  from {
    transform: rotate(30deg) rotateY(180deg) translateX(0);
  }
  50% {
    transform: rotate(30deg) rotateY(180deg) translateX(var(--santa-animation-offset)); 
  }
  50.01% {
    transform: rotate(30deg) rotateY(0) translateX(calc(var(--santa-animation-offset) * -1)); 
  }
  to {
    transform: rotate(30deg) rotateY(0) translateX(0); 
  }
} 
@keyframes run3 {
  from {
    transform: rotate(-30deg) rotateY(180deg) translateX(0);
  }
  50% {
    transform: rotate(-30deg) rotateY(180deg) translateX(var(--santa-animation-offset)); 
  }
  50.01% {
    transform: rotate(-30deg) rotateY(0) translateX(calc(var(--santa-animation-offset) * -1)); 
  }
  to {
    transform: rotate(-30deg) rotateY(0) translateX(0); 
  }
} 

@keyframes catched {
  from {
    opacity: 1;
  }
  to {
    /* transform: scale(0); */
    opacity: .2;
  }
} 